# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
/build
/packages
/SharpFE.Core/StyleCop.Cache
/SharpFE.Core/StyleCopViolations.xml
/SharpFE.Core.Tests/StyleCop.Cache
/SharpFE.Core.Tests/StyleCopViolations.xml
/SharpFE.Core.Tests/OpenCover
